:root {
  /*Colors*/
  ---main-color: #107da8;
}
html {
  font-size: 13px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h1 {
  font-size: 1.2rem;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}
h2 {
  font-size: 1rem;
}
.loader {
  border: 15px solid #fff;
  border-top: 15px solid var(---main-color);
  border-radius: 50%;
  width: 125px;
  height: 125px;
  animation: spin 2s linear infinite;
  z-index: 2;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* HEADER */
nav {
  width: calc(100% - 2em);
  position: relative;
  min-height: 4em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.19);
  background: var(---main-color);
}
nav .desktop-navigation {
  display: none;
  flex-direction: row;
  gap: 2em;
  padding-inline-start: 0;
}
nav ul li {
  list-style-type: none;
}
.mobile-nav-parent {
  position: relative;
}
.mobile-menu {
  display: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  right: -1em;
  background: var(---main-color);
  padding-inline-start: 0;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.19);
  width: min(100vw, 13em);
  text-align: center;
}
.mobile-menu li {
  text-decoration: none;
  font-size: 1.6rem;
}
.mobile-menu a {
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: #fff;
}
.mobile-menu li:hover {
  background: #fff;
}
.mobile-menu li:hover > a {
  color: var(---main-color);
}
.active {
  display: block;
}
.fa-solid {
  color: #fff;
}
.fa-bars {
  font-size: 1.8rem;
}
.fa-xmark {
  font-size: 2.2rem;
}
.fa-mountain-sun {
  position: relative;
  left: -0.3em;
  font-size: 1.7rem;
  padding: 0.3em;
  border-radius: 5px;
}
.fa-mountain-sun:hover {
  color: var(---main-color);
  background: #fff;
}
/*MAIN */
main {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: min(100%, 30em);
}
.blog-post-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.blog-post {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
}
.wp-block-image {
  margin: 0;
}
.content-container > img {
  height: 15em;
  width: 95%;
  background-size: cover;
  border-radius: 3px;
}
