body {
  margin: 0;
}
/* HEADER */
nav {
  width: calc(100%-2em);
  min-height: 3em;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.19);
}
nav ul {
  display: none;
  flex-direction: row;
  gap: 2em;
  padding-inline-start: 0;
}
nav ul li {
  list-style-type: none;
}
#mobile-navigation-btn {
}
